{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header"> <h3>线上数据库变更单</h3></div>
        <p class="pull-right">
          <a class="btn btn-primary" href="/dbmaster/new_update_application/">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;创建新的申请单</a>
        </p>
        <table class="table table-bordered">
          <tr class="info">
            <th width="6%">申请人</th>
            <th width="13%">申请时间</th>
            <th width="23%">申请原因</th>
            <th width="38%">变更内容</th>
            <th width="8%">当前操作人</th>
            <th width="6%">状态</th>
            <th width="6%">操作</th>
          </tr>
        {% for a in application_list %}
        <tr>
          <td>{{a.account_name}}</td>
          <td>{{a.create_time}}</td>
          <td>{{a.reason}}</td>
          <td>
            {{a.sql_content}}
          </td>
          <td>{{a.opt_account_name}}</td>
          <td>{{a.status}}</td>
          <td>
          <a class="btn btn-success" href="/dbmaster/audit_sql_application/{{ a.id }}">
            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;审核</a>
          </td>
      </tr>
        {% endfor %}
        </table>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $("#nav_update_application").addClass("active")


    

</script>

{% endblock %}